header {
  position: relative;
  z-index: 2; /* Ensure the header is above the video */
}

.nav {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  backdrop-filter: blur(4px);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  z-index: 1; /* Set a higher z-index */

  &__logo {
    font-size: 2rem;
    font-weight: 700;
  }

  &__links {
    list-style: none;
    display: flex;
  }

  &__links li {
    margin: 0 1.5rem;
  }

  &__links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.7rem;
    font-weight: 600;
    transition: color 0.3s ease;
  }

  &__burger--icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

.nav__links a:hover,
.mobile__links a:hover {
  color: rgb(6, 151, 200);
}

.mobile__nav {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 50;
  transition: transform 0.3s ease;
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.mobile__nav.open-menu {
  background-color: white;
}

.closed-menu {
  transform: translateX(100%);
}

.close-icon,
.menu-icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  margin: 1.5rem;
}

.menu-icon {
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

/* Add media query for smaller screens */
@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }

  .nav__logo {
    order: -1;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav__links.show {
    background-color: #333;
    display: flex;
  }

  .nav__links li {
    margin: 15px 0;
  }

  .nav__burger--icon {
    display: block;
  }

  .mobile__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 300;
  }

  .mobile__links,
  .mobile__links li,
  .mobile__links a {
    color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
  }

  .closed-menu {
    transform: translateX(100%);
  }
}
